.hidden-input {
  margin-top: 10px;
}

.sub-form-label {
  margin-bottom: 10px;
}

.hidden-input .form-text {
  color: red;
  margin-bottom: 5px;
}

.details-container {
  margin-bottom: 15px;

  p {
    margin-bottom: 0;
  }

  button {
    width: 100%;
  }
}
