main {
  min-height: 82vh;
}

header {
  height: 85px;
  background-color: #2b47e7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-size: 1.8rem;
  color: #f2f4ff;
}

.navbar-brand:hover {
  color: #f2f4ff;
  transition: color 0.2s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link {
  color: #f2f4ff;
}

.nav-link:hover {
  color: #cecece;
}

.login-signup-container {
  max-width: 700px;
  height: 75vh;
  margin: auto;
  align-items: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin input {
  margin-bottom: 8px;
  height: 47px !important;
  min-height: auto !important;
}

.form-floating > label {
  top: -5px;
}

.form-contact {
  margin: auto;
  max-width: 600px;
}

.card {
  border-radius: 10px;
}

.card:hover {
  border-color: black;
}

.card.selected {
  background-color: #4059e5;
  border-style: solid;
  border-width: 1px;
  border-color: #a0aada;
  color: #f2f4ff;
}

// .form-signin input[type="text"] {
//   margin-bottom: -1px;
//   margin-top: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .form-signin .signup-email {
//   margin-bottom: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .form-signin input[type="password"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }
