@import "../../node_modules/bootstrap/scss/bootstrap.scss";

header {
  height: 70px;
}

.login-signup-container {
  max-width: 700px;
  height: 75vh;
  margin: auto;
  align-items: center;
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin input {
  margin-bottom: 8px;
}

// .form-signin input[type="text"] {
//   margin-bottom: -1px;
//   margin-top: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .form-signin .signup-email {
//   margin-bottom: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .form-signin input[type="password"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// /* Override the min-height for input field within form-floating */
// .form-floating input {
//   min-height: auto !important; /* Override the min-height */
//   font-size: 14px; /* Adjust the font size */
//   padding: 2px; /* Adjust the padding */
//   height: 50px; /* Adjust the height */
// }
